@utility flex-center {
  @apply flex justify-center items-center;
}

@utility noisy {
  @apply absolute inset-0 size-full bg-[url("/images/noise.png")];
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}
